.body{
    display: grid;
    height: 100vh;
}
.container{
    display: grid;
    grid-template-rows: 60px 55px auto 100px;
    
}
.header{
    background-color: #232a34;
    padding: 10px;
    position: sticky;
    top:0;
    box-shadow: inset 0 0 0 1px rgba(31,31,31,.66), 0 0 10px rgba(0,0,0,.75), 0 0 10px rgba(0,0,0,.75);
}
.filter{
    background-color: #232a34;
    padding: 10px;
   
}
.content{
    background-color: #e8eaec;
}
.content__img{
    margin: 10px 20px;
}
.img-box{
    max-width: 250px;
    height: 200px;
    margin: 5px;
    background-color: gray;    
}
.footer{
    background-color:#232a34;
}