<form class="content__searchbar">
    <h3 class="searchbar__header">Filter</h3>
    <div class="searchbar__category" id="category">
        <h4 class="searchbar__text"> Category</h4>
        <input tabindex="1" type="checkbox" class="checkbox" name="Category" value="auto" id="search-general" checked>
        <label for="search-general" class="checkbox__label"> Auto</label>
        <input tabindex="2" type="checkbox" class="checkbox" name="Category" value="anime" id="search-Space">
        <label for="search-Space" class="checkbox__label"> Space</label>
        <input tabindex="3" type="checkbox" class="checkbox" name="Category" value="people" id="search-people">
        <label for="search-people" class="checkbox__label"> People</label>
        <input tabindex="4" type="checkbox" class="checkbox" name="Category" value="nature" id="search-nature">
        <label for="search-nature" class="checkbox__label"> Nature</label>
        <input tabindex="5" type="checkbox" class="checkbox" name="Category" value="nature" id="search-Game">
        <label for="search-Game" class="checkbox__label"> Game</label>
        <input tabindex="6" type="checkbox" class="checkbox" name="Category" value="nature" id="search-City">
        <label for="search-City" class="checkbox__label"> City</label>
        <input tabindex="7" type="checkbox" class="checkbox" name="Category" value="nature" id="search-Space">
        <label for="search-Space" class="checkbox__label"> Space</label>
    </div>

    <div class="searchbar__category">
        <button tabindex="8" class="searchbar__button" type="button"> search </button>
    </div>
    <div class="searchbar__category searchbar__category--up">
        <a href="#header" class="searchbar__up">UP</a>
    </div>
</form>