<div class="content__searchbar">
    <h3 class="searchbar__header">Filter</h3>
    <div class="searchbar__category" id="category">
        <h4 class="searchbar__text"> Category</h4>

        <div *ngFor="let category of categories">
            <button type="button"
            class="bt"
             [class.active]="selectedCategories.value.includes(category.value)"
             (click)="prepareSelectedCategories(category.value)">
                {{category.title}}
            </button>
        </div>
    </div>

    <div class="searchbar__category searchbar__category--up">
        <button type="button" (click)=toTop() class="category__up">Up page</button>
    </div>
</div>