<!-- <form class="content__searchbar">  -->
    <h3 class="searchbar__header">Filter</h3>
    <div class="searchbar__category" id="category">
        <h4  class="searchbar__text"> Category</h4>
        <input tabindex="1" type="checkbox" class="checkbox" name="general" value="general" id="search-general" checked>
        <label for="search-general" class="checkbox__label"> General</label>
        <input tabindex="2" type="checkbox" class="checkbox" name="anime" value="anime" id="search-anime" checked>
        <label for="search-anime" class="checkbox__label"> Anime</label>
        <input tabindex="3" type="checkbox" class="checkbox" name="people" value="people" id="search-people" checked>
        <label for="search-people" class="checkbox__label"> People</label>
    </div>
                        
    <div class="searchbar__category" id="type">
        <h4  class="searchbar__text"> Type</h4>
        <input tabindex="4" type="checkbox" class="checkbox" name="swf" value="swf" id="search-swf" checked>
        <label for="search-swf" class="checkbox__label"> SWF</label>
        <input tabindex="5" type="checkbox" class="checkbox" name="sketchy" value="sketchy" id="search-sketchy" checked>
        <label for="search-sketchy" class="checkbox__label"> Sketchy</label>
    </div>
                
    <div class="searchbar__category" id="resolution">
        <h4 class="searchbar__text"> Resolution</h4>
        <input tabindex="6" type="checkbox" class="checkbox" name="fullhd" value="fullhd" id="search-fullhd" checked>
        <label for="search-fullhd" class="checkbox__label"> FullHD</label>
        <input tabindex="7" type="checkbox" class="checkbox" name="4k" value="4k" id="search-4k" checked>
        <label for="search-4k" class="checkbox__label"> 4k</label>
    </div>
    <div class="searchbar__category">
        <button tabindex="8" class="searchbar__button" type="button" > search </button>
    </div>
<!-- </form> -->
