/* You can add global styles to this file, and also import other style files */
.body{
    font-family: 'PT Serif', serif;
    /* margin: 0; */
    display: grid;
    height: 100vh;
    font-size: 15px;
    background-color: #e8eaec;

}
.container{
    display: grid;
    grid-template-rows: 75px auto;
}
.test{
    display: contents;
}
/*  */
.header{
    display: flex;
    color:#fff;
    background-color: #232a34;
    padding: 10px;
    position: sticky;
    top:0;
    box-shadow: inset 0 0 0 1px rgba(31,31,31,.66), 0 0 10px rgba(0,0,0,.75), 0 0 10px rgba(0,0,0,.75);
}
.Header__logo{
    margin: -5px;
    margin-right: 8px;
    max-width: 100%;
    height: auto;
}

.content{
    background-color: #e8eaec;
    display: flex;
}

/* фильтр */

.searchbar__icon{
    display: none;
}
.checkbox__icon{
    width: 0;
    height: 0;
}
.app-searcbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #232a34; */
    padding: 4px 70px 4px ;
}
.content__searchbar{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #232a34;
    padding: 4px 16px 4px ;
    color: rgb(97, 97, 97);
    border-radius: 10px;
}
.checkbox__icon:checked+.app-searcbar{
    background-color: blue;
    position: absolute;
    display: none;
}
.searchbar__category{
    display: flex;
    flex-direction: column;
    padding: 3px;
    background-color: rgba(10, 10, 10, 0.1);
    box-shadow: inset 1px 1px 1px rgba(0,0,0,.4), 1px 1px 0 rgba(127,127,127,.1);
    margin: 5px 0.25em;
    align-items: center;
    border-radius: 10px;
}
/* todo */
.bt{
    border-width: 0;
    border-radius: 0;
    width: 90px;
    height: 30px;
    margin: 3px 0;
    background-color:rgba(20, 18, 18, 0.2);
    border-radius: 10px;
}
.active{
    background-color: rgb(77, 158, 74);
    color: #FFF;
}

.searchbar__text{
    margin: 0;
    color: #fff;
    font-size: 14pt;
}
.searchbar__header{
    color: #fff;
    font-size: 14pt;
    margin: 10px 0;
}

.searchbar__category--up{
    text-align: center;
}
.category__up{
    border-width: 0;
    border-radius: 0;
    width: 90px;
    height: 30px;
    margin: 3px 0;
    border-radius: 10px;
}
.category__up:hover{
    background-color:rgb(101, 126, 87);
}
/* контент */

.content__photos{
    margin: auto;
    margin: 10px 20px;
    gap:10px; 
    grid-template-columns: repeat(auto-fill, minmax(var(--layout-grid-min-width, 300px), 1fr));
    display: grid;
    align-content: baseline;
}

.item__img{
    max-width: 100%;
    height: auto;
}

@media(max-width:550px){
    .header__text{
        margin:-1px 0 0 -12px;
        max-width: 3em;
        font-size: 1.5em;
    }
    .content__searchbar{
        display: none;
    }
    .app-searcbar{
        display: none;
    }
    .searchbar__icon{
        color: #fff;
        display:block;
        font-size: 25px;
        text-decoration: none;
        margin: 30px 0 0 -5px;
        cursor: pointer;
    }
    .checkbox__icon:checked+.searchbar__icon{
        color: brown;
    }
    .checkbox__icon:checked+.app-searcbar{
        position: absolute;
        display: flex;
    }
}


/* футер */

