.body{
    font-family: 'PT Serif', serif;
    /* margin: 0; */
    display: grid;
    height: 100vh;
    font-size: 15px;
}
.container{
    display: grid;
    grid-template-rows: 75px 1fr;
}

/*  */
.header{
    display: flex;
    color:#fff;
    background-color: #232a34;
    padding: 10px;
    position: sticky;
    top:0;
    box-shadow: inset 0 0 0 1px rgba(31,31,31,.66), 0 0 10px rgba(0,0,0,.75), 0 0 10px rgba(0,0,0,.75);
}
.Header__logo{
    margin: -5px;
    margin-right: 8px;
    max-width: 100%;
    height: auto;
}

/*  */
.content{
    background-color: #e8eaec;
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.content__img{
    margin: 10px;
    position: relative;
}
.img-items{
    position: absolute;
    left:2%;
    margin-top: auto;
    margin-bottom: auto;

    max-width: 95%;
    max-height: 100%;
}

/*  */
.footer{
    color: #fff;
    background-color:#232a34;
    box-shadow: inset 0 0 0 1px rgba(31,31,31,.66), 0 0 10px rgba(0,0,0,.75), 0 0 10px rgba(0,0,0,.75);
    padding: 10px;
}